/*-- scss:defaults --*/

$body-bg: #ffffe0;
$body-color: #393d43;
$link-color: #0076ca;
$border-radius: 10px;
$light-bg-text-color: #321f13;
$code-block-font-size: 1em;
$presentation-heading-letter-spacing	: normal;

// $font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, Palatino !default;
/*-- scss:rules --*/

// headings
// $presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
//   FreeSerif, serif !default;
$presentation-heading-color: #8054e4 !default;

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal strong, .reveal b {
  font-weight: bold;
  color: rgb(36, 34, 42);
  }

.reveal .slide-logo {
    display: block;
    position: fixed;
    // bottom: unset !important;
    // right: unset !important;
    bottom: 5px;
    right: 12px;
    height: 30px !important;
    width: 30x !important;
    max-width: unset !important;
    max-height: unset !important;
  }