/*-- scss:defaults --*/

$body-bg: #222831;
$body-color: #fdfdfd;
$link-color: #0076ca;
$presentation-heading-color: #fefefe;
$light-bg-text-color: #9c2e8f;
$code-block-font-size: 1em;
$presentation-heading-letter-spacing	: normal;
// $font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, Palatino !default;
/*-- scss:rules --*/

// headings
$presentation-heading-color: #383d3d !default;

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal strong, .reveal b {
  font-weight: bold;
  color: rgb(139, 240, 243);
  }

// .reveal .slide-logo {
//     display: block;
//     position: fixed;
//     bottom: unset !important;
//     right: unset !important;
//     top: 5px;
//     left: 12px;
//     height: 100px !important;
//     width: 100x !important;
//     max-width: unset !important;
//     max-height: unset !important;
//   }