/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #3d3b40;
$link-color: #0076ca;
$presentation-heading-color: #1c3e55;
$light-bg-text-color: #9c2e8f;
$code-block-font-size: 1em;
$presentation-heading-letter-spacing	: normal;
// $font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, Palatino !default;
/*-- scss:rules --*/

// headings
$presentation-heading-color: #383d3d !default;

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal strong, .reveal b {
  font-weight: bold;
  color: rgb(139, 240, 243);
  }

.reveal .slide-logo {
    display: block;
    position: fixed;
    // bottom: unset !important;
    // right: unset !important;
    bottom: 5px;
    right: 12px;
    height: 30px !important;
    width: 30x !important;
    max-width: unset !important;
    max-height: unset !important;
  }